@model IEnumerable<Voting.Models.Candidate>

@{
    ViewData["Title"] = "Vote";
}

<h1>@ViewBag.Category</h1>

<table class="table">
    <thead>
        <tr>
           
            <th>
                @Html.DisplayNameFor(model => model.CandidateName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Photo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
           
            <td>
                @Html.DisplayFor(modelItem => item.CandidateName)
            </td>
           
            <td>
                @Html.DisplayFor(modelItem => item.Photo)
            </td>
            <td>
                <a  class="btn btn-block btn-light" asp-action="VoteFor" asp-route-catId="@ViewBag.CatId" asp-route-canId="@item.CanId">Vote For</a> 
            </td>
        </tr>
}
    </tbody>
</table>
