@model IEnumerable<Voting.Models.Candidate>

@{
    ViewData["Title"] = "Default";
}

<h1>@ViewBag.CategoryNameFull</h1>

<div class="container-fluid">
    <div class="row">            
        <input type="hidden" id="@ViewBag.CategoryName" name="CanId" value="" />
        @foreach(var item in Model)
        {
        <div class="col-md-3">
            <div class="card">
                <div id="@item.Category.CategoryName.Split(' ').Last()">
                    <img class="card-img-top" src="~/@item.Photo" alt="No Pic" />
                    <img class="card-img-overlay @item.CandidateName" height="100" src="~/img/icon-ok.gif" hidden/>
                </div>
                <div class="card-body">
                    <h4 class="card-title">@item.CandidateName</h4>
                    <p> </p>
                    <button class="btn btn-outline-secondary @item.CandidateName">Select</button>
                    <script>
                        $(function () {
                            $('button').filter('.@item.CandidateName').click(function () {
                                event.preventDefault();
                                $('#@item.Category.CategoryName.Split(' ').Last()>img').filter('.card-img-overlay').attr("hidden", "");
                                $('img').filter('.@item.CandidateName').removeAttr("hidden");
                                $('input').filter('#@ViewBag.CategoryName').val("@item.CanId");
                            })

                        });
                    </script>
                </div>
                </div>
            </div>
                }
         </div>
   </div>